# Write based on this project

# .gitignore for md-studio
index.json
uploads/
.temp/
__pycache__/
*.pyc
.venv/
venv
.env
.ipynb_checkpoints/
.DS_Store
.vscode/
.idea/

content
docs
markdowns
md
ui/build
node_modules
ui/node_modules
ui/.env